<div class="container">
<h1>Congratulations <%= @game.user.name.capitalize %>!</h1>
<h3><%= "Your score is #{@game.score}" %></h3>
<h3><%= "You are ranked # #{Game.order(:score).all.reverse.index(@game) + 1}" %></h3>
<br>

<ul class="list-group">
  <li class="list-group-item active">Your answers:</li>
  <% @game.results.each do |r|%>
  <li class="list-group-item"> <%= r.question.answer %> : <% if r.correct %> <font color="green">CORRECT</font> <% else %><font color="red">WRONG</font> <% end %></li>
  <% end %>
</ul>
<br>
<a <%= link_to "Back to Your page", user_path(@game.user) %></a>
<br>
</div>
