<div class="container">
<h1>Congratulations <%= @game.user.name.capitalize %></h1>
<br>
<h2><%= "Your score is #{@game.score}" %></h2>
<br>
<h2><%= "You are ranked # #{Game.order(:score).all.reverse.index(@game) + 1}" %></h2>
<br>

<ul>
  <% @game.results.each do |r|%>
  <li> <%= r.question.answer %> : <% if r.correct %> <font color="green">CORRECT</font> <% else %><font color="red">WRONG</font> <% end %></li>
  <% end %>
</ul>

<a <%= link_to "Back to Your page", user_path(@game.user) %></a>
<br>
</div>
