<% if flash[:notice] %>
   <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
 <% end %>
 <br>


 <div class="container">

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
    <a href="/users/<%=@user.id%>">Back to <%=@user.name%> Page</a>
  </div>
  <div class="container">
   <a href="/users/">High Scores</a>
 </div>
 <div class="container">
    <a href="/users/about">About</a>
 </div>
  </nav>
<br>
<ul class="list-group">
<li class="list-group-item active"><%=@user.name%> Stats:</li>
<li class="list-group-item">Top Score: <%= @my_games.map{|g|g.score}.max %></li>
<li class="list-group-item">Rank: <%=Game.order(:score).all.reverse.index(@top_game) + 1 %> </li>
<li class="list-group-item">Average Score: <%= @my_games.map{|g|g.score}.inject(0){|sum,x| sum + x }/ @my_games.count %></li>
<br>
</ul>

<ul class="list-group">
<li class="list-group-item active">Game History:</li>
<% @my_games.each do |g|%>
<li class="list-group-item list-group-item-dark"> Score: <%= g.score %>
</li>

  <% g.results.each do |r|%>
  <li class="list-group-item"> <%= r.question.answer %> : <% if r.correct %> <font color="green">CORRECT</font>  <% else %><font color="red">WRONG</font><% end %></li>
  <% end %>
</ul>
<%= button_to "Delete Game", {:controller => :games,
    :action => 'destroy', :id => g.id }, :method => :delete %>
<% end %>
<br>
