1. main game page
2. logo
3. picture centered
4. three random choices to choose from
5. score on top right that updates
6. sound effect or show correct/wrong answer whichever is easier
7. cycle to next answer till finished
8. stretch goal - timer to limit time to answer
9. stretch goal - anthem music?

<h1>LOGO</h1>

<h1>Score: <%= "#{@game.score}" %></h1>

<%= image_tag(image_url(@question.location), size: "640x400")%>


<%= form_tag answer_path do %>
 <%= hidden_field_tag :id, @game.id %>
 <%= hidden_field_tag :question_id, @question.id %>
 <%= hidden_field_tag :result_id, @game_result.id %>
 <%= submit_tag "#{@question.answer}" %>
<% end %>

<%= form_tag answer_path do %>
 <%= hidden_field_tag :id, @game.id %>
 <%= hidden_field_tag :question_id, @question.id %>
 <%= hidden_field_tag :result_id, @game_result.id %>
 <%= submit_tag "#{@question.answer}" %>
<% end %>

<%= form_tag answer_path do %>
 <%= hidden_field_tag :id, @game.id %>
 <%= hidden_field_tag :question_id, @question.id %>
 <%= hidden_field_tag :result_id, @game_result.id %>
 <%= submit_tag "#{@question.answer}" %>
<% end %>
